/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* @import url(//db.onlinewebfonts.com/c/4c0277bcba75a3570694a90365e79f29?family=DroidSerifW01-Regular);  */

@font-face {
  font-family: "DroidSerifRegular";
  src: url("../fonts/DroidSerifRegular.eot");
  src: url("../fonts/DroidSerifRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DroidSerifRegular.woff") format("woff"),
    url("../fonts/DroidSerifRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DroidSerifBold";
  src: url("../fonts/DroidSerifBold.eot");
  src: url("../fonts/DroidSerifBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DroidSerifBold.woff") format("woff"),
    url("../fonts/DroidSerifBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DroidSerifItalic";
  src: url("../fonts/DroidSerifItalic.eot");
  src: url("../fonts/DroidSerifItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DroidSerifItalic.woff") format("woff"),
    url("../fonts/DroidSerifItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DroidSerifBoldItalic";
  src: url("../fonts/DroidSerifBoldItalic.eot");
  src: url("../fonts/DroidSerifBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DroidSerifBoldItalic.woff") format("woff"),
    url("../fonts/DroidSerifBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

img {
  width: 100%;
  object-fit: cover;
}

img#rosi {
  width: 80%;
  margin-left: 60px;
  margin-top: 40px;
}

#calendar-wrapper {
  position: fixed;
  display: none;
  width: 44%;
  min-width: 280px;
  z-index: 99;
  top: 0px;
}

.close {
  position: absolute;
  right: -15px;
  top: 5px;
  cursor: pointer;
}

#logo-container {
  min-width: 290px;
  /* font-family: DroidSerifRegular !important; */
}

.droid {
  font-family: DroidSerifRegular !important;
}

#personalInfo {
  background-color: rgba(222, 242, 136, 1) !important;
  margin-bottom: 20px;
}

.teal {
  background-color: rgba(222, 242, 136, 1) !important;
}

.button {
  margin-left: 70px;
  position: absolute;
  justify-content: center;
  text-align: initial;
  display: inline-block;
  padding: 6px;
  text-align: center;
  line-height: 482x;
  width: 138px;
  height: 42px;
  border-radius: 100px;
  background-color: rgba(222, 242, 136, 1);
}
#A.button {
  margin-left: 350px;
  position: absolute;
  justify-content: center;
  text-align: initial;
  display: inline-block;
  padding: 6px;
  text-align: center;
  line-height: 482x;
  width: 138px;
  height: 42px;
  border-radius: 100px;
  background-color: rgba(222, 242, 136, 1);
}

#m.button {
  margin-left: 550px;
}
/* .col.s12.m4{
  min-width: 200px;
} */

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 420px) {
  nav .sidenav-trigger {
    margin: 0 -5px !important;
  }
}

@media only screen and (max-width: 380px) {
  nav .brand-logo {
    left: 60%;
  }
}

nav .sidenav-trigger {
  position: fixed;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  text-indent: -9999px;
  background: url("icon_top.png") no-repeat;
  border: 1px solid red;
  background-color: green;
  content: UP;
  z-index: 99;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-copyright {
  background-color: rgba(204, 215, 161, 0.65);
}
